<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseUrl</key>
	<string>https://api.douban.com/v2/book/</string>
	<key>reqs</key>
	<dict>
		<key>change_pwd</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>params</key>
			<array>
				<string>oldPwd</string>
				<string>newPwd</string>
			</array>
			<key>path</key>
			<string>http://localhost:10108/rest/user/change_pwd</string>
			<key>use_baseurl</key>
			<false/>
		</dict>
		<key>server_user_search</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>params</key>
			<array>
				<string>user_id</string>
			</array>
			<key>path</key>
			<string>http://localhost:10108/rest/user/query_user_by_id</string>
			<key>use_baseurl</key>
			<false/>
		</dict>
		<key>book_search</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>params</key>
			<array>
				<string>q</string>
				<string>tag</string>
				<string>start</string>
				<string>count</string>
			</array>
			<key>path</key>
			<string>search</string>
			<key>use_baseurl</key>
			<true/>
		</dict>
		<key>upload</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>params</key>
			<array/>
			<key>path</key>
			<string>http://localhost:10108/rest/user/upload</string>
			<key>use_baseurl</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
